* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  width: 100%;
  padding: 20px 60px;
  /* display flex is used for responsive purpose */
  display: flex;   
  
  justify-content: space-between;
}

.logo {
  display: flex;
  font-size: 22px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
  /* I have used links for navbar, so to remove the bullet points I have used list style none */
  align-items: center;
}

.nav-links a {
  display: flex;
  margin-right: 35px;
  text-decoration: none;
  color: #2b2f38;
  font-size: 15px;
}


.username {
  background: #e7f3ff;
  color: #1c7ed6;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
}


.hero {
  width: 100%;  
  padding: 0 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.hero-content {
  width: 45%;
  
}

.hero-content h1 {
  font-size: 42px;
  color: #2b2f38;
}

.hero-content h1 span {
  color: #1c7ed6;
}

.hero-content p {
  margin-top: 20px;
  font-size: 15px;
  color: #6b7280;
  max-width: 90%;
}

.cta-btn {
  margin-top: 30px;
  padding: 14px 30px;
  background: #1c7ed6;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s ease;
  /* transition delay of 0.5s is used for smooth transition */
}

.cta-btn:hover {
  background: #1565c0;
  width: 210px;
  transform: rotate(-5deg);
  /* to inscrease the size of the button on hover I have inscreased its with and to rotate I have used transform */
  
}

.hero-image {
  width: 50%;
}

.hero-image img{
  width: 80%;
  display: block;
  margin: auto;
}





@media (min-width: 768px) and (max-width: 1024px) {
  .hero-content h1 {
    font-size: 32px;
    line-height: 1.25;
    color: #2b2f38;
}

.hero-image img {
    width: 100%;
    display: block;
    margin-top: 50px;
}  

.cta-btn {
  margin-top: 30px;
  padding: 14px 30px;
  background: #1c7ed6;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s ease;
  /* transition delay of 0.5s is used for smooth transition */
}

.cta-btn:hover {
  background: #1565c0;
  width: 210px;
  transform: rotate(-5deg);
  /* to inscrease the size of the button on hover I have inscreased its with and to rotate I have used transform */
  
}
}


@media  (max-width: 767px) {

  .navbar {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: none;
}

.hero {
    width: 100%;
    height: 90vh;
    padding: 0 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.hero-content {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.hero-image {
    width: 100%;
    margin-top: 20px;
}
}